.imgHero{
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgb(0, 0, 0));
    height: 100vh;
    display: flex;
    flex-direction: column;
    
    font-family: 'Poppins', sans-serif;
}

h1{
    text-align: center;
    font-size: 50px;
    color: #fff;
    padding: 15%;
    font-family: 'Chakra Petch', sans-serif;
}
